# Pandas

## Dataframe from CSV ##

In [7]:
import pandas as pd 
recent_grads = pd.read_csv("data/recent-grads.csv")
print(type(recent_grads))

<class 'pandas.core.frame.DataFrame'>

## Dataframe to CSV

In [8]:
# turn a dictionary into a dataframe to csv
submission = pd.DataFrame(submission_df)
submission.to_csv("data/submission_1.csv",index=False)

NameError: name 'submission_df' is not defined

## Exploring the DataFrame ##

In [25]:
dimensions = recent_grads.shape
num_rows = dimensions[0]
num_cols = dimensions[1]
first_twenty = recent_grads.head(20)

print(recent_grads.head(3))
print(recent_grads.dtypes)
print(recent_grads.index)

col_names = recent_grads.columns.tolist()
null_counts = recent_grads.isnull().sum()

recent_grads.mean()

recent_grads.describe()


#Quick data visualisation
import matplotlib.pyplot as plt
%matplotlib inline

recent_grads.hist()
plt.show()

star_wars[star_wars.columns[9:15]].mean().plot.bar()
star_wars[star_wars.columns[3:9]].sum().plot.bar()
males[males.columns[9:15]].mean().plot.bar(title="Male Star Wars Films Ranking")

   Rank  Major_code                           Major   Total     Men  Women  \
0     1        2419           PETROLEUM ENGINEERING  2339.0  2057.0  282.0
1     2        2416  MINING AND MINERAL ENGINEERING   756.0   679.0   77.0
2     3        2415       METALLURGICAL ENGINEERING   856.0   725.0  131.0

  Major_category  ShareWomen  Sample_size  Employed      ...        Part_time  \
0    Engineering    0.120564           36      1976      ...              270
1    Engineering    0.101852            7       640      ...              170
2    Engineering    0.153037            3       648      ...              133

   Full_time_year_round  Unemployed  Unemployment_rate  Median  P25th   P75th  \
0                  1207          37           0.018381  110000  95000  125000
1                   388          85           0.117241   75000  55000   90000
2                   340          16           0.024096   73000  50000  105000

   College_jobs  Non_college_jobs  Low_wage_jobs
0          1534               364            193
1           350               257             50
2           456               176              0

[3 rows x 21 columns]
Rank                      int64
Major_code                int64
Major                    object
Total                   float64
Men                     float64
Women                   float64
Major_category           object
ShareWomen              float64
Sample_size               int64
Employed                  int64
Full_time                 int64
Part_time                 int64
Full_time_year_round      int64
Unemployed                int64
Unemployment_rate       float64
Median                    int64
P25th                     int64
P75th                     int64
College_jobs              int64
Non_college_jobs          int64
Low_wage_jobs             int64
dtype: object
RangeIndex(start=0, stop=173, step=1)

## Add column names to a Dataset on Import

In [ ]:
cols = [‘col1’,'col2’,'col3']

# read in the dataset, assigning column names as per the documentation
cars = pd.read_csv('imports-85.data', names=cols)

## Renaming Columns

In [ ]:
# dynamic name creation
for col in star_wars.columns[9:15]:
    star_wars = star_wars.rename(columns={col:"ranking_"+str(counter)})
    counter = counter + 1

# or if all cols known
star_wars = star_wars.rename(columns={
     'Unnamed 15': "Han Solo",
 'Unnamed: 16': "Luke Skywalker",
 'Unnamed: 17': "Princess Leia Organa",
 'Unnamed: 18': "Anakin Skywalker",
     'Unnamed: 28': "Yoda"
})

## Selecting a row ##
NOTE: Unlike slicing lists in Python, a slice of a dataframe using .loc[] will include both the start and the end row.

In [5]:
hundredth_row = recent_grads.loc[99]

## Selecting multiple rows ##

In [ ]:
print("Rows 3, 4, 5 and 6")
print(recent_grads.loc[3:6])

print("Rows 2, 5, and 10")
two_five_ten = [2,5,10]
print(recent_grads.loc[two_five_ten])

num_rows = recent_grads.shape[0]
last_rows = recent_grads[num_rows-5:num_rows]

## Selecting individual columns ##

In [10]:
food_info = pd.read_csv("data/food_info.csv")
saturated_fat = food_info["FA_Sat_(g)"]
cholesterol = food_info["Cholestrl_(mg)"]

## Selecting multiple columns by name ##

In [26]:
zinc_copper = food_info[["Zinc_(mg)", "Copper_(mg)"]]

columns = ["Zinc_(mg)", "Copper_(mg)"]
zinc_copper = food_info[columns]

## Select Unique Values from Column

In [ ]:
all_ages[“major_cat”].unique()

categories = transactions.category.unique()

## Filtering

In [ ]:
# Query Method
df_filtered = df.query('salary>30000')
df_filtered = df.query('A == "bar"')

# add new column with a 1 if true, 0 if false
df['isalone'] = np.where((df['SibSp']==0)&(df['Parch']==0),1,0)

# Instead of queries, we can use in-dices. We do that by using an array index with boolean expressions:
rows = all_ages[all_ages[“cat”]==“value”]]

df_filtered = df[(df.salary >= 30000) & (df.year == 2017)]

# View Rows Where Coverage Is Greater Than 50
df[df['coverage'] > 50]

# View Rows Where Coverage Is Greater Than 50 And Reports Less Than 4
df[(df['coverage']  > 50) & (df['reports'] < 4)]

data["graduation"] = data["graduation"][data["graduation"]["Cohort"]=='2006']
data["graduation"] = data["graduation"][data["graduation"]["Demographic"]=='Total Cohort']

## Sorting the data frame
By default, pandas will sort the data by the column we specify in ascending order and return a new DataFrame, rather than modifying food_info itself.

In [ ]:
food_info.sort_values("Sodium_(mg)")

# Sorts the DataFrame in-place, rather than returning a new DataFrame.
food_info.sort_values("Sodium_(mg)", inplace=True)

# Sorts by descending order, rather than ascending.
food_info.sort_values("Sodium_(mg)", inplace=True, ascending=False)

# Or by column name
food_info.sort("Norm_Nutr_Index",ascending=False, inplace=True)

## Reindex (eg. after sorting)
By default, retains the old index by adding an extra column to the dataframe with the old index values.

In [ ]:
titanic_reindexed = new_titanic_survival.reset_index(drop=True)
subset = titanic_reindexed.iloc[0:5,0:3]

## Set Index

In [11]:
fandango = pd.read_csv("data/fandango_score_comparison.csv")
print(fandango.index)

## Using Integer Indexes to Select Rows ##
first_last = fandango.iloc[[0,fandango.shape[0]-1]]

## Using Custom Indexes ##
fandango_films = fandango.set_index('FILM',inplace=False,drop=False)
print(fandango_films.index)

## Using a Custom Index for Selection ##
movies = ["The Lazarus Effect (2015)","Gett: The Trial of Viviane Amsalem (2015)","Mr. Holmes (2015)"]
best_movies_ever = fandango_films.loc[movies]

RangeIndex(start=0, stop=146, step=1)
Index(['Avengers: Age of Ultron (2015)', 'Cinderella (2015)', 'Ant-Man (2015)',
       'Do You Believe? (2015)', 'Hot Tub Time Machine 2 (2015)',
       'The Water Diviner (2015)', 'Irrational Man (2015)', 'Top Five (2014)',
       'Shaun the Sheep Movie (2015)', 'Love & Mercy (2015)',
       ...
       'The Woman In Black 2 Angel of Death (2015)', 'Danny Collins (2015)',
       'Spare Parts (2015)', 'Serena (2015)', 'Inside Out (2015)',
       'Mr. Holmes (2015)', ''71 (2015)', 'Two Days, One Night (2014)',
       'Gett: The Trial of Viviane Amsalem (2015)',
       'Kumiko, The Treasure Hunter (2015)'],
      dtype='object', name='FILM', length=146)

## Select columns of a certain type

In [16]:
types = fandango_films.dtypes

# filter data types to just floats, index attributes returns just column names
float_columns = types[types.values == 'float64'].index

# use bracket notation to filter columns to just float columns
float_df = fandango_films[float_columns]

## Select rows of a certain type

In [ ]:
float_df = df.select_dtypes(include=['float'])

## Using the Apply function on Columns

In [18]:
double_df = float_df.apply(lambda x: x*2)
print(double_df.head(1))

halved_df = float_df.apply(lambda x: x/2)
print(halved_df.head(1))

def hundredth_row(column):
    hundredth_item = column.iloc[99]
    return hundredth_item

hundredth_row_var = titanic_survival.apply(hundredth_row)

Metacritic_User               1.505529
IMDB                          0.955447
Fandango_Stars                0.538532
Fandango_Ratingvalue          0.501106
RT_norm                       1.503265
RT_user_norm                  0.997787
Metacritic_norm               0.972522
Metacritic_user_nom           0.752765
IMDB_norm                     0.477723
RT_norm_round                 1.509404
RT_user_norm_round            1.003559
Metacritic_norm_round         0.987561
Metacritic_user_norm_round    0.785412
IMDB_norm_round               0.501043
Fandango_Difference           0.152141
dtype: float64
                                Metacritic_User  IMDB  Fandango_Stars  \
FILM
Avengers: Age of Ultron (2015)             14.2  15.6            10.0

                                Fandango_Ratingvalue  RT_norm  RT_user_norm  \
FILM
Avengers: Age of Ultron (2015)                   9.0      7.4           8.6

                                Metacritic_norm  Metacritic_user_nom  \
FILM
Avengers: Age of Ultron (2015)              6.6                  7.1

                                IMDB_norm  RT_norm_round  RT_user_norm_round  \
FILM
Avengers: Age of Ultron (2015)        7.8            7.0                 9.0

                                Metacritic_norm_round  \
FILM
Avengers: Age of Ultron (2015)                    7.0

                                Metacritic_user_norm_round  IMDB_norm_round  \
FILM
Avengers: Age of Ultron (2015)                         7.0              8.0

                                Fandango_Difference
FILM
Avengers: Age of Ultron (2015)                  1.0
                                Metacritic_User  IMDB  Fandango_Stars  \
FILM
Avengers: Age of Ultron (2015)             3.55   3.9             2.5

                                Fandango_Ratingvalue  RT_norm  RT_user_norm  \
FILM
Avengers: Age of Ultron (2015)                  2.25     1.85          2.15

                                Metacritic_norm  Metacritic_user_nom  \
FILM
Avengers: Age of Ultron (2015)             1.65                1.775

                                IMDB_norm  RT_norm_round  RT_user_norm_round  \
FILM
Avengers: Age of Ultron (2015)       1.95           1.75                2.25

                                Metacritic_norm_round  \
FILM
Avengers: Age of Ultron (2015)                   1.75

                                Metacritic_user_norm_round  IMDB_norm_round  \
FILM
Avengers: Age of Ultron (2015)                        1.75              2.0

                                Fandango_Difference
FILM
Avengers: Age of Ultron (2015)                 0.25

## Using the Apply function on Rows

In [19]:
rt_mt_user = float_df[['RT_user_norm', 'Metacritic_user_nom']]
rt_mt_deviations = rt_mt_user.apply(lambda x: np.std(x), axis=1)
print(rt_mt_deviations[0:5])

rt_mt_means = rt_mt_user.apply(lambda x: np.mean(x), axis=1) 
print(rt_mt_means.head(5))

def is_minor(row):
    if pd.isnull(row["age"]):
        return "unknown"
    elif row["age"] < 18:
        return "minor"
    elif row["age"] >=18:
        return "adult"
    else:
        return "unknown"

age_labels= titanic_survival.apply(is_minor, axis=1)

FILM
Avengers: Age of Ultron (2015)    0.375
Cinderella (2015)                 0.125
Ant-Man (2015)                    0.225
Do You Believe? (2015)            0.925
Hot Tub Time Machine 2 (2015)     0.150
dtype: float64
FILM
Avengers: Age of Ultron (2015)    3.925
Cinderella (2015)                 3.875
Ant-Man (2015)                    4.275
Do You Believe? (2015)            3.275
Hot Tub Time Machine 2 (2015)     1.550
dtype: float64

## Create Custom Series/index
When we select a single column from a DataFrame, pandas will return the Series object representing that column. By default, pandas indexes each individual Series object in a DataFrame with the integer data type. The Series object uses 0-indexing. 

With both NumPy arrays and Series objects, we can pass integer indexes into bracket notation to slice and select values. With Series objects, however, we can also specify custom indexes.

In [22]:
fandango = pd.read_csv('data/fandango_score_comparison.csv')
series_film = fandango["FILM"]
series_rt = fandango["RottenTomatoes"]

from pandas import Series

film_names = series_film.values
rt_scores = series_rt.values
print(film_names)

series_custom = Series(data=rt_scores,index=film_names)
print(series_custom)

['Avengers: Age of Ultron (2015)' 'Cinderella (2015)' 'Ant-Man (2015)'
 'Do You Believe? (2015)' 'Hot Tub Time Machine 2 (2015)'
 'The Water Diviner (2015)' 'Irrational Man (2015)' 'Top Five (2014)'
 'Shaun the Sheep Movie (2015)' 'Love & Mercy (2015)'
 'Far From The Madding Crowd (2015)' 'Black Sea (2015)' 'Leviathan (2014)'
 'Unbroken (2014)' 'The Imitation Game (2014)' 'Taken 3 (2015)'
 'Ted 2 (2015)' 'Southpaw (2015)'
 'Night at the Museum: Secret of the Tomb (2014)' 'Pixels (2015)'
 'McFarland, USA (2015)' 'Insidious: Chapter 3 (2015)'
 'The Man From U.N.C.L.E. (2015)' 'Run All Night (2015)'
 'Trainwreck (2015)' 'Selma (2014)' 'Ex Machina (2015)'
 'Still Alice (2015)' 'Wild Tales (2014)' 'The End of the Tour (2015)'
 'Red Army (2015)' 'When Marnie Was There (2015)'
 'The Hunting Ground (2015)' 'The Boy Next Door (2015)' 'Aloha (2015)'
 'The Loft (2015)' '5 Flights Up (2015)' 'Welcome to Me (2015)'
 'Saint Laurent (2015)' 'Maps to the Stars (2015)'
 "I'll See You In My Dreams (2015)" 'Timbuktu (2015)' 'About Elly (2015)'
 'The Diary of a Teenage Girl (2015)' 'Kingsman: The Secret Service (2015)'
 'Tomorrowland (2015)' 'The Divergent Series: Insurgent (2015)'
 'Annie (2014)' 'Fantastic Four (2015)' 'Terminator Genisys (2015)'
 'Pitch Perfect 2 (2015)' 'Entourage (2015)' 'The Age of Adaline (2015)'
 'Hot Pursuit (2015)' 'The DUFF (2015)' 'Black or White (2015)'
 'Project Almanac (2015)' 'Ricki and the Flash (2015)' 'Seventh Son (2015)'
 'Mortdecai (2015)' 'Unfinished Business (2015)' 'American Ultra (2015)'
 'True Story (2015)' 'Child 44 (2015)' 'Dark Places (2015)'
 'Birdman (2014)' 'The Gift (2015)' 'Unfriended (2015)'
 'Monkey Kingdom (2015)' 'Mr. Turner (2014)'
 'Seymour: An Introduction (2015)' 'The Wrecking Crew (2015)'
 'American Sniper (2015)' 'Furious 7 (2015)'
 'The Hobbit: The Battle of the Five Armies (2014)' 'San Andreas (2015)'
 'Straight Outta Compton (2015)' 'Vacation (2015)' 'Chappie (2015)'
 'Poltergeist (2015)' 'Paper Towns (2015)' 'Big Eyes (2014)'
 'Blackhat (2015)' 'Self/less (2015)' 'Sinister 2 (2015)'
 'Little Boy (2015)' 'Me and Earl and The Dying Girl (2015)'
 'Maggie (2015)' 'Mad Max: Fury Road (2015)' 'Spy (2015)'
 'The SpongeBob Movie: Sponge Out of Water (2015)' 'Paddington (2015)'
 'Dope (2015)' 'What We Do in the Shadows (2015)' 'The Overnight (2015)'
 'The Salt of the Earth (2015)' 'Song of the Sea (2014)'
 'Fifty Shades of Grey (2015)' 'Get Hard (2015)' 'Focus (2015)'
 'Jupiter Ascending (2015)' 'The Gallows (2015)'
 'The Second Best Exotic Marigold Hotel (2015)' 'Strange Magic (2015)'
 'The Gunman (2015)' 'Hitman: Agent 47 (2015)' 'Cake (2015)'
 'The Vatican Tapes (2015)' 'A Little Chaos (2015)'
 'The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)'
 'Escobar: Paradise Lost (2015)' 'Into the Woods (2014)'
 'It Follows (2015)' 'Inherent Vice (2014)' 'A Most Violent Year (2014)'
 "While We're Young (2015)" 'Clouds of Sils Maria (2015)'
 'Testament of Youth (2015)' 'Infinitely Polar Bear (2015)'
 'Phoenix (2015)' 'The Wolfpack (2015)'
 'The Stanford Prison Experiment (2015)' 'Tangerine (2015)'
 'Magic Mike XXL (2015)' 'Home (2015)' 'The Wedding Ringer (2015)'
 'Woman in Gold (2015)' 'The Last Five Years (2015)'
 'Mission: Impossible â€“ Rogue Nation (2015)' 'Amy (2015)'
 'Jurassic World (2015)' 'Minions (2015)' 'Max (2015)'
 'Paul Blart: Mall Cop 2 (2015)' 'The Longest Ride (2015)'
 'The Lazarus Effect (2015)' 'The Woman In Black 2 Angel of Death (2015)'
 'Danny Collins (2015)' 'Spare Parts (2015)' 'Serena (2015)'
 'Inside Out (2015)' 'Mr. Holmes (2015)' "'71 (2015)"
 'Two Days, One Night (2014)' 'Gett: The Trial of Viviane Amsalem (2015)'
 'Kumiko, The Treasure Hunter (2015)']
Avengers: Age of Ultron (2015)                     74
Cinderella (2015)                                  85
Ant-Man (2015)                                     80
Do You Believe? (2015)                             18
Hot Tub Time Machine 2 (2015)                      14
The Water Diviner (2015)                           63
Irrational Man (2015)                              42
Top Five (2014)                                    86
Shaun the Sheep Movie (2015)                       99
Love & Mercy (2015)                                89
Far From The Madding Crowd (2015)                  84
Black Sea (2015)                                   82
Leviathan (2014)                                   99
Unbroken (2014)                                    51
The Imitation Game (2014)                          90
Taken 3 (2015)                                      9
Ted 2 (2015)                                       46
Southpaw (2015)                                    59
Night at the Museum: Secret of the Tomb (2014)     50
Pixels (2015)                                      17
McFarland, USA (2015)                              79
Insidious: Chapter 3 (2015)                        59
The Man From U.N.C.L.E. (2015)                     68
Run All Night (2015)                               60
Trainwreck (2015)                                  85
Selma (2014)                                       99
Ex Machina (2015)                                  92
Still Alice (2015)                                 88
Wild Tales (2014)                                  96
The End of the Tour (2015)                         92
                                                 ...
Clouds of Sils Maria (2015)                        89
Testament of Youth (2015)                          81
Infinitely Polar Bear (2015)                       80
Phoenix (2015)                                     99
The Wolfpack (2015)                                84
The Stanford Prison Experiment (2015)              84
Tangerine (2015)                                   95
Magic Mike XXL (2015)                              62
Home (2015)                                        45
The Wedding Ringer (2015)                          27
Woman in Gold (2015)                               52
The Last Five Years (2015)                         60
Mission: Impossible â€“ Rogue Nation (2015)        92
Amy (2015)                                         97
Jurassic World (2015)                              71
Minions (2015)                                     54
Max (2015)                                         35
Paul Blart: Mall Cop 2 (2015)                       5
The Longest Ride (2015)                            31
The Lazarus Effect (2015)                          14
The Woman In Black 2 Angel of Death (2015)         22
Danny Collins (2015)                               77
Spare Parts (2015)                                 52
Serena (2015)                                      18
Inside Out (2015)                                  98
Mr. Holmes (2015)                                  87
'71 (2015)                                         97
Two Days, One Night (2014)                         97
Gett: The Trial of Viviane Amsalem (2015)         100
Kumiko, The Treasure Hunter (2015)                 87
Length: 146, dtype: int64

## Series Integer Index Preservation ##

Even though we specified that the Series object uses a custom string index, the object still has an internal integer index that we can use for selection. When it comes to indexes, Series objects act like both dictionaries and lists. We can access values with our custom index (like the keys in a dictionary), or the integer index (like the index in a list).

In [23]:
series_custom = Series(rt_scores , index=film_names)
series_custom[['Minions (2015)', 'Leviathan (2014)']]
fiveten = series_custom.iloc[5:11]
print(fiveten)

The Water Diviner (2015)             63
Irrational Man (2015)                42
Top Five (2014)                      86
Shaun the Sheep Movie (2015)         99
Love & Mercy (2015)                  89
Far From The Madding Crowd (2015)    84
dtype: int64

## Reindexing a Series ##
Reindexing to specify another order for labels in a series object.  Reindexing is the pandas way of modifying the alignment between labels (indexes) and the data (values).

In [ ]:

# get the original index
original_index = series_custom.index

# Sort the index with sorted() & reindex() to set the newly-ordered index.
sorted_by_index = series_custom.reindex(sorted(original_index))

## Sorting a Series ##
sort_index() method that sorts a Series by index, and a sort_values() method that sorts a Series by its values.

In [ ]:
sc2 = series_custom.sort_index()
sc3 = series_custom.sort_values()
print(sc2.head(10))
print(sc3.head(10))

## Series Transforming ##
(use any of the standard Python arithmetic operators (+, -, *, and /) to transform each of the values in a Series object).

In [ ]:
series_custom/10

# Add each value with each other
np.add(series_custom, series_custom)

# Apply sine function to each value
np.sin(series_custom)

# Return the highest value (will return a single value, not a Series)
np.max(series_custom)

series_normalized = series_custom/20

## Series Comparing and Filtering ##

In [ ]:
criteria_one = series_custom > 50
criteria_two = series_custom < 75

both_criteria = series_custom[criteria_one & criteria_two]

## Series Alignment ##
Series objects, pandas implicitly preserves the link between the index labels and the values across operations and transformations, unless we explicitly break it. Offers a big advantage over using NumPy objects. For Series objects in particular, this means we can use the standard Python arithmetic operators (+, -, *, and /) to add, subtract, multiply, and divide the values at each index label for two different Series objects.

In [ ]:
rt_critics = Series(fandango['RottenTomatoes'].values, index=fandango['FILM'])
rt_users = Series(fandango['RottenTomatoes_User'].values, index=fandango['FILM'])

rt_mean = (rt_critics + rt_users)/2

print(rt_mean)

## Transforming a Column ##

In [ ]:
div_1000 = food_info["Iron_(mg)"] / 1000
add_100 = food_info["Iron_(mg)"] + 100
sub_100 = food_info["Iron_(mg)"] - 100
mult_2 = food_info["Iron_(mg)"]*2
sodium_grams = food_info["Sodium_(mg)"] / 1000
sugar_milligrams = food_info["Sugar_Tot_(g)"] * 1000

## Convert a column type

In [36]:
unrate["DATE"] = pd.to_datetime(unrate["DATE"])

# Convert to numeric:
cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']

for col in cols:

    data["ap_2010"][col] = pd.to_numeric(data["ap_2010"][col], errors="coerce")
    
print(data["ap_2010"].dtypes)

NameError: name 'unrate' is not defined

## Transforming with Multiple Columns

In [ ]:
water_energy = food_info["Water_(g)"] * food_info["Energ_Kcal"]
print(water_energy[0:5])

grams_of_protein_per_gram_of_water  = food_info["Protein_(g)"] / food_info["Water_(g)"]
milligrams_of_calcium_and_iron = food_info["Calcium_(mg)"] + food_info["Iron_(mg)"]

## Normalizing Columns

In [ ]:
print(food_info["Protein_(g)"][0:5])
max_protein = food_info["Protein_(g)"].max()
print(max_protein)

max_protein = food_info["Protein_(g)"].max()
normalized_protein = food_info["Protein_(g)"] / max_protein

max_lipid = food_info["Lipid_Tot_(g)"].max()
normalized_fat = food_info["Lipid_Tot_(g)"] / max_lipid

## Creating a New Column ##

In [ ]:
normalized_protein = (food_info["Protein_(g)"] - food_info["Protein_(g)"].min()) / (food_info["Protein_(g)"].max() - food_info["Protein_(g)"].min())
normalized_fat = (food_info["Lipid_Tot_(g)"] - food_info["Lipid_Tot_(g)"].min()) / (food_info["Lipid_Tot_(g)"].max() - food_info["Lipid_Tot_(g)"].min())

food_info["Normalized_Protein"] = normalized_protein
food_info["Normalized_Fat"] = normalized_fat

food_info["Norm_Nutr_Index"] = (2 * food_info["Normalized_Protein"]) - (0.75 * food_info["Normalized_Fat"] )

## Count number of Nulls in a column

In [30]:
titanic_survival = pd.read_csv("data/titanic_survival.csv")

age = titanic_survival["age"]

age_is_null = pd.isnull(age)
age_null_true = age[age_is_null]
age_null_count = age_null_true.shape[0]
print(age_null_count)

264

## Sum of Nulls in all columns

In [ ]:
null_counts = titanic_survival.isnull().sum()

# Then select only those columns without nulls from the original dataset:
df_no_nulls = titanic_survival[null_counts[null_counts==0].index]

## Show valid/invalid records

In [31]:
age_is_null = pd.isnull(titanic_survival["age"])
invalid_records = titanic_survival["age"][age_is_null]
valid_records = titanic_survival["age"][age_is_null==False]

15     NaN
37     NaN
40     NaN
46     NaN
59     NaN
69     NaN
70     NaN
74     NaN
80     NaN
106    NaN
107    NaN
108    NaN
118    NaN
121    NaN
125    NaN
134    NaN
147    NaN
152    NaN
157    NaN
166    NaN
176    NaN
179    NaN
184    NaN
196    NaN
204    NaN
219    NaN
223    NaN
235    NaN
237    NaN
241    NaN
        ..
1212   NaN
1213   NaN
1214   NaN
1215   NaN
1216   NaN
1219   NaN
1221   NaN
1241   NaN
1242   NaN
1243   NaN
1245   NaN
1246   NaN
1247   NaN
1249   NaN
1250   NaN
1253   NaN
1255   NaN
1262   NaN
1268   NaN
1282   NaN
1283   NaN
1284   NaN
1291   NaN
1292   NaN
1293   NaN
1297   NaN
1302   NaN
1303   NaN
1305   NaN
1309   NaN
Name: age, Length: 264, dtype: float64

## Select rows where col is not null

In [ ]:
star_wars = star_wars[pd.notnull(star_wars["RespondentID"])]

## mean of all numeric columns

In [ ]:
votes.mean()

## Filling in Missing Data

Note that if a column consists entirely of null or NaN values, pandas won't be able to fill in the missing values when we use the df.fillna() method along with the df.mean() method, because there won't be a mean.

We should fill any NaN or null values that remain after the initial replacement with the value 0. We can do this by passing 0 into the df.fillna() method.

In [ ]:
correct_mean_age = titanic_survival["age"].mean()
correct_mean_fare = titanic_survival["fare"].mean()

# Only select float columns from the df with missing values
float_cols = df_missing_values.select_dtypes(include=['float'])

# Return a data frame with missing values replaced with mean of that column.
float_cols = float_cols.fillna(float_cols.mean())

# fill with zero
float_cols = float_cols.fillna(o)

# check for missing values
print(float_cols.isnull().sum())

#This method will replace any missing values in a dataframe with the values we specify. 
means = df.mean()
df = df.fillna(means)

## Replace data frame values with a mapping:

In [ ]:
# emp_length is the column to map in, can be more than one
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "n/a": 0
    }
}

loans = loans.replace(mapping_dict)

# another more verbose method
yes_no = {
    "Yes": True,
    "No": False
}

have_you_seen= "Have you seen any of the 6 films in the Star Wars franchise?"
do_you_consider = "Do you consider yourself to be a fan of the Star Wars film franchise?"

star_wars[have_you_seen] = star_wars[have_you_seen].map(yes_no)
star_wars[do_you_consider] = star_wars[do_you_consider].map(yes_no)

## Drop Missing Values ##

In [ ]:
drop_na_rows = titanic_survival.dropna(axis=0)
drop_na_columns = titanic_survival.dropna(axis=1)

new_titanic_survival = titanic_survival.dropna(axis=0,subset=["age","sex"])

## Pivot Tables
Easy way to subset/group by one column and then apply a calculation like a sum or a mean. Pivot tables first group and then apply a calculation. 
-  index tells the method which column to group by. 
- values is the column that we want to apply the calculation to, and 
- aggfunc specifies the calculation we want to perform. The default for the aggfunc parameter is mean if left out

In [34]:
import numpy as np

passenger_survival = titanic_survival.pivot_table(index="pclass", values="survived")
passenger_age = titanic_survival.pivot_table(index="pclass",values="age")

# Calculation on multiple columns at once (pass as a list):
port_stats = titanic_survival.pivot_table(index="embarked",values=["fare","survived"],aggfunc=np.sum)

age_group_survival = titanic_survival.pivot_table(index="age_labels",values="survived")

## Group by

In [ ]:
class_size = class_size.groupby("DBN").agg(np.mean)
class_size.reset_index(inplace=True)
data['class_size'] = class_size

## Access Rows by Position ##

In [ ]:
# We have already sorted new_titanic_survival by age
first_five_rows = new_titanic_survival.iloc[0:5]
first_ten_rows = new_titanic_survival.iloc[0:10]
row_position_fifth = new_titanic_survival.iloc[4]
row_index_25 = new_titanic_survival.loc[25]

## Access Rows and Columns by position

In [ ]:
first_row_first_column = new_titanic_survival.iloc[0,0]
all_rows_first_three_columns = new_titanic_survival.iloc[:,0:3]
row_index_83_age = new_titanic_survival.loc[83,"age"]
row_index_766_pclass = new_titanic_survival.loc[766,"pclass"]

row_index_1100_age = new_titanic_survival.loc[1100,"age"]
row_index_25_survived = new_titanic_survival.loc[25,"survived"]
five_rows_three_cols = new_titanic_survival.iloc[0:5,0:3]

## Reset Index/Reindex Rows

In [ ]:
titanic_reindexed = new_titanic_survival.reset_index(drop=True)
subset = titanic_reindexed.iloc[0:5,0:3]

## Remove non numeric columns:

In [ ]:
numerical_train = train.select_dtypes(include=['int', 'float'])

## Drop Specific Columns:

In [ ]:
cols = ['PID', 'Year Built', 'Year Remod/Add', 'Garage Yr Blt', 'Mo Sold', 'Yr Sold']
numerical_train = train.drop(cols, axis=1)

## Remove columns with nulls:

In [ ]:
# Get sum of nulls in each column:
train_null_counts = train.isnull().sum()

# Then select only those columns without nulls from the original dataset:
df_no_nulls = train[train_null_counts[train_null_counts==0].index]

## Transform categories to a numerical representation:

In [ ]:
train['Utilities'] = train['Utilities'].astype('category')

# to access the numerical representation:
train['Utilities'].cat.codes

## Create dummies for numerical Categories

In [ ]:
dummy_cols = pd.get_dummies()

## Convert all numerical categories to dummy columns

In [ ]:
for col in text_cols:

    dummies = pd.get_dummies(train[col])
    train = pd.concat([train, dummies], axis=1)
    
    # Delete the original columns from text_cols from the train data frame.
    train = train.drop(col, axis=1)

## Change column values into groups of values
we can separate this continuous feature into a categorical feature by dividing it into range:

In [ ]:
def process_age(df,cut_points,label_names):
    df["Age"] = df["Age"].fillna(-0.5)
    df["Age_categories"] = pd.cut(df["Age"],cut_points,labels=label_names)
    return df

cut_points = [-1,0,18,100]
label_names = ["Missing","Child","Adult"]

## Count number of instances of a value in a column

In [37]:
# get a series representing the ‘main dish…’ column
main_dishes = data['What is typically the main dish at your Thanksgiving dinner?']

# count number of instances of each response
print(main_dishes.value_counts())

NameError: name 'data' is not defined

## Find Correlations between Dataframe Columns

We can use the pandas pandas.DataFrame.corr() method to find correlations between columns in a dataframe. 
The method returns a new dataframe where the index for each column and row is the name of a column in the original data set.

In [ ]:
# combined is our dataframe
correlations = combined.corr()
correlations = correlations["sat_score"]
print(correlations)

# visually compare columns that indicate a correlation
import matplotlib.pyplot as plt
combined.plot.scatter(x='total_enrollment', y='sat_score')
plt.show()

## Joining/Merging Dataframes

Using the pandas pandas.DataFrame.merge() function. The "left" dataframe is the one we call the method on, and the "right" dataframe is the one we pass into df.merge(). Because we're using the DBN column to join the dataframes, we'll need to specify the keyword argument on="DBN" when calling pandas.DataFrame..merge()

- With an inner merge, we'd only combine rows where the same DBN exists in both data sets.
- With a left merge, we'd only use DBN values from the dataframe on the "left" of the merge.
- With a right merge, we'll only use DBN values from the dataframe on the "right" of the merge.
- With an outer merge, we'll take any DBN values from either sat_results or class_size:

In [ ]:
combined = data["sat_results"]

combined = combined.merge(data["ap_2010"],how="left", on="DBN")
combined = combined.merge(data["graduation"],how="left", on="DBN")

datasets = ['class_size', 'demographics', 'survey', 'hs_directory']
for dataset in datasets:
    combined = combined.merge(data[dataset], on="DBN", how="inner")

## Crosstabs:

The crosstab function will print a table that shows frequency counts for two or more columns. Here's how you could use the pandas.crosstab function:
…bit like a big group by!

In [ ]:
import pandas
table = pandas.crosstab(income["sex"], [income["high_income"]])
print(table)

## Rolling Window (Time Series)

Pandas has some time series tools that can help, including the rolling_mean function, which will do most of the hard computation for you. Set the window equal to the number of trading days in the past you want to use to compute the indicators. This will add in NaN values for any row where there aren't enough historical trading days to do the computation. 

Note: There is a giant caveat here, which is that the rolling mean will use the current day's price. You'll need to reindex the resulting series to shift all the values "forward" one day. For example, the rolling mean calculated for 1950-01-03 will need to be assigned to 1950-01-04, and so on. You can use the shift method on Dataframes to do this.

In [ ]:
from datetime import datetime

data = pd.read_csv('data/sphist.csv')
data['Date'] = pd.to_datetime(data['Date'])
data = data.sort_values(by=['Date'],ascending=True)

# calculate some indicators to add to the data, start with mean()

data['day_5_mean'] = 0

# use a rolling window of 5 days over the 'Close' column to get the mean, then shift the values forward by one day so that the mean doesnt include that days value
data['day_5_mean'] = data['Close'].rolling(5).mean()
data['day_5_mean'] = data['day_5_mean'].shift()

data['day_30_mean'] = 0
data['day_30_mean'] = data['Close'].rolling(30).mean()
data['day_30_mean'] = data['day_30_mean'].shift()

data['day_365_mean'] = 0
data['day_365_mean'] = data['Close'].rolling(365).mean()
data['day_365_mean'] = data['day_365_mean'].shift()